.app-detail-species{
    background-color: cornsilk;

    &__color{
        border: 2px solid #FFE81F;
    }
    &__title{
        padding: 1rem;
        background-color: cornsilk;
    }
    &__link{
        border: 1px solid #FFE81F;
    }
}