.app-list-personage{
   &__list{
    padding: 1rem;
    }

    &__background-color{
        background-color: cornsilk;
        padding-bottom: 5px;

    }

    &__border{
        border:2px solid #FFE81F;
        margin-bottom: 1rem;
    }

    &__botton{
        padding: 0 1rem 5px 1rem;
        border: 2px solid #FFE81F;
        color: black;
        font-weight: bold;
    }

    &__character-thumbnail{
        margin: 10px;
        width: calc(100% / 3);
        height: 80%;
        border: 1px solid #FFE81F;
    }
}



