<div class="app-list-personage" fxLayout="column" fxLayoutAlign="start center">
    <app-search-characters></app-search-characters>
    <div class="app-list-personage__character-thumbnail" *ngFor="let character of starwars"  >
        <app-character-thumbnail [character]="character" (characterIdSelected)="onCharacterSelected($event)"> 
        </app-character-thumbnail>
    </div>
    <div class="app-list-personage__background-color">
        <a (click)="goToAddStarWarsCharacters()" class="app-list-personage__botton">Ajouter un personage</a>
        <a (click)="goToSpeciesList()" class="app-list-personage__botton">liste des espèces</a>
    </div>
</div>
