.app-list-personage{
   &__list{
    padding: 1rem;
    }

    &__background-color{
        background-color: cornsilk;

    }

    &__border{
        border:2px solid #FFE81F;
        margin-bottom: 1rem;
    }

    &__botton{
        background-color: cornsilk;
        padding: 0 1rem 5px 1rem;
        color: #FFE81F;
        font-weight: bold;
    }
}

