<div class="app-charater-thumbnail">
    <div class="app-charater-thumbnail__background-color">
        <div class="app-charater-thumbnail_border d-flex-column align-items-center" (click)="onCharacterSelected(character.id)">
            <p>{{ character.name }} :</p>
            <p>
                <small>Année de naissance : {{ character.birth_year}} </small>
            </p>
            <p>
                <small>Taille: {{character.height}} cm</small>
            </p>
            <p>
                <small>{{character.homeworld}} </small>
            </p> 
            <p  class="app-charater-thumbnail__box-color cs-2 ce-3" [style.background-color]="randomColor(character.species)">
            <small >Espèce: {{character.speciesName}} </small>
            </p>
        </div>
    </div>
</div>
